<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/main.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Prenotazione esami studenti</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">

                        
		  <div class="row">
  			<!--  <div class="col-md-4 col-md-offset-4"> -->
			<div class="col-md-4 col-md-offset-4">



		        
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${student}" method="post" class="form-horizontal"
					role="form">
	
					<!--  <fieldset> -->
                    <h3>Lista esami</h3>
					<div class="form-group">
                            <div class="col-md-12">
                                <select class="form-control" id="examBooking" th:field="*{examBooking}">
                                      <option th:each="exam : ${exams}" th:value="${exam.examName}" th:text="${exam.examCode+ '-' + exam.examName + ', '+ exam.ClassRoom + ' - ' + #dates.format(exam.examDate, 'dd-MM-yyyy')}">Dropdown
                                      </option>
                                </select>
                                <!--  <input type="hidden" name="exammm" th:value="${exam.examName}"/> -->
                                <!--  <input type="hidden" name="quizID"  th:field="*{quizID}" th:value="${quizID}"> -->
                            </div>
                        </div>
                        
					<div class="form-group">
						<div class="col-md-12">
							<!--<label for="firstName" th:if="${#fields.hasErrors('firstName')}"
								th:errors="*{firstName}" class="validation-message" th:text="Nome"></label>-->
								<input type="text" id="firstName" th:field="*{firstName}" placeholder="Nome" th:required="required"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<!--<label th:if="${#fields.hasErrors('lastName')}"
								th:errors="*{lastName}" class="validation-message"></label>-->
								 <input	type="text" id="lastName" th:field="*{lastName}" placeholder="Cognome" th:required="required"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" id="idNumber" th:field="*{idNumber}" placeholder="Matricola"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" th:required="required"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" id="email" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" id="submit" class="btn btn-primary btn-block">Invio</button>
						</div>
					</div>

					<!--  </fieldset>-->
				</form>
			</div>
		</div>
	</div>

</body>
</html>