<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

<script src="/webjars/bootstrap/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}"></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Prenotazione esami studenti</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">

                        
		  <div class="row">
  			<!--  <div class="col-md-4 col-md-offset-4"> -->
			<div class="col-md-4 col-md-offset-4">



		        
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${student}" method="post" class="form-horizontal"
					role="form">
	
                   <div class="form-group">
 					
                            <div class="col-md-12">
                            <h3>Lista esami</h3>
                                <select class="form-control" id="examId" th:field="*{exam}" onchange="selectedExam()">
                                      <option th:each="exam : ${exams}" th:value="${exam.examId}" th:text="${exam.examCode+ '-' + exam.examName + ', '+ exam.examClassRoom + ' - ' + #dates.format(exam.examDate, 'dd-MM-yyyy')}">Dropdown
                                      </option>
                                </select>
                                  <input type="hidden" id="hiddenExamId" name="examParam" value="0"/>
                            </div>
                       </div>  
					<div class="form-group">
						<div class="col-md-12">
								<input type="text" id="firstName" th:field="*{firstName}" placeholder="Nome" 
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
								 <input	type="text" id="lastName" th:field="*{lastName}" placeholder="Cognome" 
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" id="idNumber" th:field="*{idNumber}" placeholder="Matricola"  
								class="form-control" /> 
								<!--  <label th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" th:required="required"
								class="form-control"></label> -->
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" id="email" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" id="submit" class="btn btn-primary btn-block">Invio</button>
						</div>
					</div>
					<!--  </fieldset>-->
				</form>
			</div>
		</div>
	</div>
<script>
    function selectedExam() {
    	var x = document.getElementById("examId").value;
    	document.getElementById("hiddenExamId").value = x;
    }
     </script>
</body>
</html>